:root {
    --first-color-to-gradient: #FFFF;
    --second-color-to-gradient: #FFFF;
}

body {
    background: var(--first-color-to-gradient);
    background: linear-gradient(165deg, var(--first-color-to-gradient) 0%, var(--second-color-to-gradient)); 
    background: -moz-linear-gradient(165deg, var(--first-color-to-gradient) 0%, var(--second-color-to-gradient));
    background: -webkit-linear-gradient(165deg, var(--first-color-to-gradient) 0%, var(--second-color-to-gradient));

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;

    height: 100%;
}

.card {
    grid-row-start: 2;
    grid-row-end: 3;

    height: max-content;
    margin-right: 4%;
    margin-left: 4%;
}

#side-link-place {
    display: none;
}

#type-of-activity {
    text-transform: capitalize;
}

#previous-and-button {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

#previous {
    grid-column: 1;
    position: fixed;
    text-align: right;
    margin-top: 7%;
    text-decoration-line: underline;
    text-decoration-color: #aaaaaa;
    cursor: pointer;
}

#generate {
    grid-column: 3;
    text-align: center;
    margin-top: 15%;
    cursor: pointer;
}

#generate-centered {
    grid-column: 2;
    text-align: center;
    margin-top: 15%;
    cursor: pointer;
}